# DB
/project/db-data

# Services
/mail-service/mailerApp
/logger-service/loggerApp
/listener-service/listenerApp
/front-end/frontApp.exe
/front-end/frontEndApp
/broker-service/brokerApp
/authentication-service/authApp

# IMG
/*.jpg